doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title Maps Геоотзыв
        //script(src= "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js")
        script(src= "https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    body
        .container
            .logo
                .logo__title Геоотзыв
            .content
                .balloon.hide
                    .top
                        .top__header
                            button.button__close +
                        .top__comments
                    .bottom
                        .bottom__title Ваш отзыв
                        .bottom__form
                            input.name-user(placeholder='Ваше имя')
                            input.place(placeholder='Место')
                            textarea.review(name="review" placeholder='Ваш отзыв')
                        .bottom__button-add Добавить

        //script#user-template(type='text/x-handlebars-template').
        //    {{#each items}}
        //    <item class="friend__item" data-user-id = "{{id}}">
        //    <div class="friend"><img class="friend__photo" src="{{photo_100}}" alt="photo">
        //    <div class="friend__name" data-user-id = "{{id}}">{{first_name}} {{last_name}}</div>
        //    </div><img class="add-button" src="images/add.png" alt="add">
        //    </div><img class="close-button hiden-button" src="images/close_grey.png" alt="add">
        //    </item>
        //    {{/each}}
        script(src="js/script.js")